html, body {
    height:100%;
}


.sec1 {
    background-image: url('../images/iwojimaflag.jpg');
    height:110%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.noImg {
    background-image: none;
    background-color: grey;
    height:45%;
}
.sec1-overlay {
    position: absolute;
    text-align:center;
    height:100%;
    max-width:100%;
    top:0;
    left:0;
    color:white;
    font-weight:bold;
    background-color:rgba(0,0,0,0.5);
}
.itemp5 {
    padding:17%;
}
.card {

}
.card:hover {
    cursor: pointer;
    background-color:rgba(0,0,0,0.4);
}